body {

    background-color: #7cc2ff;

}

h1 {

    color: brown;
    font-family: 'Roboto Condensed', sans-serif;

}

h2 {

    color: rgb(26, 41, 211);
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;

}

h3 {

    color: rgb(115, 229, 159);
    text-align: center;
    font-family: 'Merriweather', serif;

}

h4 {

    color: rgb(231, 101, 101);
    font-family: 'Comic Neue', serif;
    text-align: center;

}

h5 {

    color: rgb(150, 53, 18);
    font-family: 'Lora', serif;
    text-align: center;
    

}

header {

    background-color: white;
    justify-content: flex-end;
    align-items: center;
    padding: 5px;

}

header > h1 {

    color: blueviolet;
    text-align: center;
    font-family: 'Arvo', serif;

}

.collnav {

    background-color: azure;
    border: 5px solid;
  margin: auto;
  width: 50%;
  padding: 10px;
  width: 250px;

}

